<a href="/events/event/{{_id}}">
  <div class="event">
    <h3>{{name}}</h3>
    <dl>
      <dt>{{date}}</dd>
      <dt>{{time}}</dd>
      <dt>${{price}}</dd>
    </dl>
    <p>{{description}}</p>

    <form action="/" method="post">
      <button name="foo" value="rsvp">RSVP</button>
    </form>
  </div>
</a>






