<div class="event">
  <a href="/events/event/{{_id}}">
  <h3>{{name}}</h3>
  </a>
  <dl>
    <dt>{{date}}</dt>
    <dt>{{time}}</dt>
    <dt>${{price}}</dt>
  </dl>
  <p>{{description}}</p>

  <form action="/events" method="post">
    <button name="foo" value="rsvp">RSVP</button>
  </form>
  <form action="/events" method="post">
    <button name="foo" value="rsvp">Like</button>
  </form>

  <form action="/events" method="post">
    <button name="foo" value="rsvp">Favorite</button>
  </form>
</div>