<div class="event">
  <a href="/events/event/{{_id}}">
  <h3>{{name}}</h3>
  </a>
    <p>{{date}}</p>
    <p>{{time}}</p>
    <p>${{price}}</p>
    <p>{{description}}</p>
    <p>
      tags:
    {{#each tags}}
    <span>{{this}}</span>
    {{/each}}
    </p>

  {{#unless organizer}}
  <form action="/events" method="post">
    <button name="foo" value="rsvp">RSVP</button>
  </form>
  <form action="/events" method="post">
    <button name="foo" value="rsvp">Like</button>
  </form>

  <form action="/events" method="post">
    <button name="foo" value="rsvp">Favorite</button>
  </form>
  {{/unless}}
</div>