<div class="event">
  <a href="/events/event/{{_id}}">
  <h3>{{name}}</h3>
  </a>
    <p>{{date}}</p>
    <p>{{time}}</p>
    <p>${{price}}</p>
    <p>{{description}}</p>
    <p>
      tags:
    {{#each tags}}
    <span>{{this}}</span>
    {{/each}}
    </p>
  <button type="button" class="rsvpButton" data-event-id="{{_id}}">RSVP</button>
  <button type="button" class="likeButton" data-event-id="{{_id}}">Like</button>
  <button type="button" class="favoriteButton" data-event-id="{{_id}}">Favorite</button>
</div>
