<div class="content">


  <section class="content-section">
    <h2>{{event.name}}</h2>
    <p>{{event.date}}</p>
    <p>{{event.time}}</p>
    <p>${{event.price}}</p>
    <p>{{event.description}}</p>
    <br>tags:
    {{#each event.tags}}
    <span>{{this}}</span>
    {{/each}}
    <br>
    <a href="/profile/{{event.organizer._id}}">{{event.organizer.username}}</a>
    <br>
    <br>
    {{event.likes}}
    <button id="rsvpButton">RSVP</button>
    <button id="likeButton">Like</button>
    <button id="favoriteButton">Favorite</button>
  </section>


  <section class="content-section">
    <h2>Comments</h2>
    <form action="" id="commentForm" method="POST">
      <div id="error" class="error" {{#unless error}} hidden {{/unless}}>
        <span id="error-message"> {{#if error}} {{error}} {{/if}} </span>
      </div>
      <label for="comment">Comment:</label>
      <textarea id="comment" name="comment" required></textarea>
      <button type="submit">Create Comment</button>
    </form>
    <script src="/public/js/validate_comment.js"></script>
    <div class="comments-container">
      {{#each event.comments}}
      {{> comment}}
      {{/each}}
    </div>
  </section>


</div>