<div class="content">
  <section class="content-section">
    <h2>{{event.name}}</h2>
    <p>{{event.date}}</p>
    <p>{{event.time}}</p>
    <p>{{event.price}}</p>
    <p>{{event.description}}</p>
    {{event.likes}}
    <form action="/events" method="post">
      <button name="foo" value="rsvp">RSVP</button>
    </form>
    <form action="/events" method="post">
      <button name="foo" value="rsvp">Like</button>
    </form>

    <form action="/events" method="post">
      <button name="foo" value="rsvp">Favorite</button>
    </form>
  </section>
  <section class="content-section">
    <h2>Comments</h2>
    <form action="/comments" id="commentForm" method="POST">
      <label for="comment">Comment:</label>
      <textarea id="comment" name="comment"></textarea>
      <button type="submit">Create Comment</button>
    </form>
    <div class="comments-container">
      {{#each event.comments}}
      {{> comment}}
      {{/each}}
    </div>
  </section>
</div>