<div class="content">
  <section class="content-section">
    <h2>Profile</h2>

    <p>{{user.username}}</p>
    <p>{{user.email}}</p>
    <p>{{user.phoneNumber}}</p>
    <p>{{user.firstName}} {{user.lastName}}</p>
    <p>{{user.role}}</p>
    <p>{{user.age}}</p>
  </section>

  {{#if organizer}}
  <section class="content-section">
    <h2>Events Posted</h2>
    <div class="events-container">
      {{#each eventsPosted}}
      {{> event}}
      {{/each}}
    </div>
  </section>
  {{/if}}
  
  <section class="content-section">
    <h2>Events Favorited</h2>
    <div class="events-container">
      {{#each eventsFavorited}}
      {{> event}}
      {{/each}}
    </div>
  </section>
</div>