<div class="content">
  <section class="content-section">
    <h2>Profile</h2>

    <p>{{user.username}}</p>
    <p>{{user.email}}</p>
    <p>{{user.phoneNumber}}</p>
    <p>{{user.firstName}} {{user.lastName}}</p>
    <p>{{user.role}}</p>
    <p>{{user.age}}</p>
  </section>
  <section class="content-section">
    <h2>Events Posted</h2>
  </section>
</div>